@import "tailwindcss";

@theme {
  --color-*: initial;
  /* Grays - dark base */
  --color-gray-100: #EAEAEA; /* main text */
  --color-gray-200: #A0A0A0; /* secondary text */
  --color-gray-300: #787878;
  --color-gray-400: #545454;
  --color-gray-500: #383848; /* border/divisores */
  --color-gray-600: #2C2C3A; /* secundary background */
  --color-gray-700: #1E1E2A; /* main background */
  --color-gray-800: #14141F; /* darker background */

  /* Primaries and secondaries */
  --color-blue-500: #3B82F6; /* main blue */
  --color-blue-400: #60A5FA; /* status/hover */
  --color-blue-300: #8abcfa; /* hover */
  
  --color-green-500: #10B981; /* success/status */
  --color-green-400: #3ee0aa; /* hover */
  --color-yellow-500: #FBBF24; /* warning/status */
  --color-yellow-400: #e0bf6a; /* hover */
  --color-red-500: #EF4444; /* error/status */
  --color-red-400: #f57575; /* hover */
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :focus {
    outline: 0;
    box-shadow: 0 0 0;
  }
  
  body {
    background: var(--color-gray-700);
    color: var(--color-gray-100);
  }
  
  body, input, textarea, button {
    font-family: 'Inter', Helvetica, sans-serif;
  }
}


